body{
	background-color: #edeceb;
}



.mainModule{

	$menuborder: #5a2b81;

	.row{
		max-width: 400rem;
	}

	

	p, .subheading{
		font-family: 'camptonlight';
	}

	.heading{
		font-family: 'camptonbold';
	}

	.hide{
		display: none;
	}

	.show-for-small-only{
		.heading{
			text-align: center;
			font-weight: bold;
		}

		.subheading{
			font-weight: bold;
			margin-bottom: 0;
			font-size: 90%;
		}

		.paras p{
			line-height: 1.3rem;
		}

		img{
			width: 200px;
			display: block;
			margin: 0 auto;
		}

		.header, .main{
			width: 100%;
		}

		.header{
			position: fixed;
			height: 150px;
			z-index: 100;
			background-color: #d2cccc;
		}

		.main{
			position: absolute;
			margin-top: 150px;
			z-index: 10;
		}



		.social{
			ul{
				text-align: center;
				padding-top: 5px;

				li{
					display: inline-block;
					float: none;

					i{
						transition: transform .3s linear;

						&:hover{
							transform: scale(1.2,1.2);
						}
					}

				
				}
			}
		}
	}

	.show-for-medium-up{

		.menu{
			float: left;
			border-right: 4px solid $menuborder;
			img {
				width: 100px;
			}

			.container p{
				max-width: 90%;
				line-height: 1.1rem;
			}

			ul{
				margin-left: 0;

				>li:first-child{
					img{
						width: 150px;
						margin-bottom: 10px;
						margin-top: 10px;
					}
				}

				>li:not(:last-child){
					border-bottom: 2px solid $menuborder;
				}
				>li:not(:first-child){
					border-top: 2px solid $menuborder;
				}

				li{
					list-style-type: none;
					
					margin: 8px 0;

					.container{
						text-align: center;
					}
				}
			}



		}

		.main{
			margin-left: 210px;
			.top{
				img{
					display: block;
					margin: 0 auto;
					height: 280px;
				}
			}

			.bottom{
				background-color: #fafafa;
				padding: 20px;
				margin-right: 14px;

				.heading{
					text-align: center;
					font-weight: bold;
				}

				.subheading{
					font-weight:bold;
					margin-bottom: 0;
					font-size: 90%;
				}


			}
		}

	}


}
