{{#with content}}
	<div class="row">
		{{#each this.images}}
			<div class="small-12 columns">
				{{#if this.img}}
					{{{this.img}}}
				{{/if}}
				
				{{#if this.imgInterchange}}
					<img data-interchange="{{{this.imgInterchange}}}">
				{{/if}}

				
			</div>	
		{{/each}}
	</div>
{{/with}}