@import "../../../utils/scss/foundation/_settings.scss";


[data-module-engagement-module]{

	.background-image-header-main{
		height: 264px;
		width: 300px;
		@media #{$medium-only}{
			height: 280px;
			width: 320px;
		}
		@media #{$large-up}{
			height: 310px;
			width: 350px;
		}

		margin: auto;
		background-image: url('/images/main/engagement-module/cup_lux_main.png');
		background-size: 100% 100%;
	}

	nav .top-bar-section{
		ul{
			@media #{$medium-up}{
				display: flex;
				
				justify-content: space-between;
				width: 100%;
				background-color: white;
				border-top: 2px solid $purple;
				border-bottom: 2px solid $purple;
			}

		}



		li a{
			background: white !important;
			color: $purple;
			font-weight: bold;
	
		}

		li a:hover{
			color: green !important;
		}
	}
	
	
}