@import "../../../utils/scss/foundation/_settings.scss";


[data-module-engagement-module]{


	.background-image-header-main{
		height: 280px;
		width: 280px;
		@media #{$medium-only}{
			height: 320px;
			width: 320px;
		}
		@media #{$large-up}{
			height: 340px;
			width: 340px;
		}

		margin: auto;
		background-image: url('/images/main/engagement-module/cuplux-drive-thru.png');
		background-size: 100% 100%;
	}

	.top-bar{
		transition: height .2s linear;
	}

	.top-bar.expanded{
		transition: height .2s linear;
		height: 320px;
	}

	.name img{
		height: 46px !important;
		width: 46px !important;
	}

	nav .top-bar-section{

		ul{
			@media #{$medium-up}{
				display: flex;
				
				justify-content: space-between;
				width: 100%;
				background-color: white;
				border-top: 2px solid $purple;
				border-bottom: 2px solid $purple;

				li a{
					background: white !important;
					color: $purple;
	
				}

				li a:hover{
					color: #854cb3 !important;
				}

				.current{
					text-decoration: underline;
				}
			}

		}
	}
	
}