@import "../../../utils/scss/foundation/_settings.scss";

[data-module-image-interchange-module]{

	margin-top: 30px;
	font-size: 22px;
	img{
		width: 100%;
		@media screen and (orientation:portrait) {
		 	height: 215px;
		}

		@media screen and (orientation:landscape) {
			height: 230px;
		}


		@media #{$medium-only}{

			@media screen and (orientation:portrait) {
			 height: 300px;
			}

			@media screen and (orientation:landscape) {
				height: 320px;
			}

		}
		
		@media #{$large-up}{

			height: 380px;
		}
	}


	
	
}