@import "../../../utils/scss/foundation/_settings.scss";

[data-module-image-interchange-module]{

	margin-top: 30px;
	font-size: 22px;
	img{
		width: 100%;
		height: 220px;
		@media #{$large-up}{

			height: 380px;
		}

		@media #{$medium-only}{

			height: 310px;
		}
	}


	
	
}