doctype html
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/campton_bold_macroman/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/campton_light_macroman/stylesheet.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/foundation.equalizer.min.js')
  body
    block content