

{{#each content.images}}
    <ul class="{{@key}}" data-orbit data-options="{{../this.dataOrbitOptions}}">
    {{#each this}}
      <li>
        {{{this.img}}}
        {{#if this.img.caption}}
          <div class="orbit-caption">
            {{this.img.caption}}
          </div>
        {{/if}}
      </li>
    {{/each}}  
  </ul>
{{/each}}






