<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.orbit.min.js"></script>
<ul class="example-orbit" data-orbit data-options="{{content.dataOrbitOptions}}">
  {{#each content.images}}
    <li>
      {{{this.img}}}
      <div class="orbit-caption">
        Caption Test
      </div>
    </li>
  {{/each}}  
</ul>