{{#with content}}


		<footer>
			<div class="main-text">{{{this.text}}}</div>
			<div class="social">
				{{#each this.social}}

					{{#ifCond this.type '==' 'icon' }}
						<div>
							<a href="{{this.href}}">
								<i class="{{this.class}}"></i>
							</a>
						</div>
					{{/ifCond}}

					{{#ifCond this.type '==' 'text' }}
						<div class="text">{{this.text}}</div>
					{{/ifCond}}



				{{/each}}


			</div>



		</footer>



{{/with}}