{{#with content}}
	<div class="row">
		<div class="small-12 medium-10 medium-centered columns">
			<div class="master">
				{{#times this.numGrids}}
					<div class="grid">

					</div>
				{{/times}}
			</div>
		</div>
	</div>
{{/with}}