{{#with content}}


		<div class="row">
			<div class="small-12 medium-6 columns content-left">
				
			</div>
			<div class="small-12 medium-6 columns content-right">
				
			</div>

		</div>



{{/with}}