@import "../../../utils/scss/foundation/_settings.scss";

[data-module-footer-bottom-bar-module]{

	footer{
		position: relative;
		
		@media #{$small-only}{
			display:flex;
			align-items: center;
		}

		margin-top: 15px;

		@media #{$medium-up}{
			height: 60px;
		}

		@media #{$medium-only}{
			margin-top: 30px;
		}

		@media #{$large-up}{
			margin-top: 40px;
		}

		background-color: purple;

		.main-text{
			text-align: center;
			margin: 0;
			color: white;
			@media #{$medium-up}{
				line-height: 60px;
			}

			@media #{$small-only}{
				flex: 0 0 50%;
				margin: 0;

			}
		}
		a{
			color: white;
		}



		.social{
			color: white;
			display: flex;

			@media #{$small-only}{
				flex: 0 0 50%;
				align-items: center;
				justify-content: flex-end;
				>div{
					margin-right: 5px;
				}
			}

			@media #{$medium-up}{
				position: absolute;
				top: 0;
				right: 10px;
				line-height: 60px;

				>div{
					margin-right: 10px;
					@media #{$large-up}{
						margin-right: 15px;
					}
				}
			}
			
		
			>div:not(.text){
				display: flex;
				align-items: center;
			}
		}
	}


	
	
}