@import "../../../utils/scss/foundation/_settings.scss";


[data-module-one-column-image-module]{

	&.data-module-nature-for-one{
		.image-trees-charlotte{
			background: url('/images/main/one-column-image-module/Trees_Charlotte Logo_high_res.png') no-repeat center center;
			background-size: contain;
			height: 130px;
			margin-top: 20px;
			@media #{$medium-only}{
				height:240px
			}
			@media #{$large-up}{
				height: 240px;
			}

		

		}


	}

	&.data-module-rewards-bloc-card{

		.image-bloc-card{
			background: url('/images/main/one-column-image-module/bloc_card.jpg') no-repeat center center;
			background-size: 270px 270px;
			height: 200px;
			@media #{$medium-only}{
				background-size: 320px 320px;
			}
			@media #{$large-up}{
				background-size: 340px 340px;
			}


		}


	}


	&.data-module-rewards-how-does-it-work{

		.image-how-does-it-work{
			background: url('/images/main/one-column-image-module/light-bulb-1.jpg') no-repeat center center;
			background-size: contain;
			height: 200px;
			@media #{$medium-only}{
				height: 250px
			}
			@media #{$large-up}{
				height: 300px;
			}



		}


	}

	&.data-module-location-hours{

		[data-interchange]{
			

			@media #{$small-only}{
				margin-top: 10px;
			}
			@media #{$medium-only}{
				margin-top: 20px;
			}
			@media #{$large-up}{
				margin-top: 25px;
			}

		}
	}

	&.data-module-about{

		.image-bloc-card{
			background: url('/images/main/one-column-image-module/bloc_card.jpg') no-repeat center center;
			background-size: 270px 270px;
			height: 200px;
			@media #{$medium-only}{
				background-size: 320px 320px;
			}
			@media #{$large-up}{
				background-size: 340px 340px;
			}


		}


	}


	
}