@import "../../../utils/scss/foundation/_settings.scss";

[data-module-flex-div-module]{

	margin-top: 15px;

	@media #{$medium-only}{

		margin-top: 20px;
	}

	@media #{$large-up}{

		margin-top: 25px;
	}
	
	.master{
		display: flex;
		@media #{$small-only}{
			flex-direction: column
		}

		>div{
			@media #{$medium-up}{
				flex: 0 0 24%;
			}
			
			height: 200px;
			background-color: gray;
			justify-content: center;
			margin-left: 1%;
			@media #{$small-only}{
				margin-top: 1%;
				margin-left: 10%;
				margin-right: 10%;
			}

		}

		[class^='image-event']{
			background-size: cover !important;
			@media #{$medium-up}{
				background-size: 100% 100% !important;
			}
			height: 100%;
		}

		.image-event-1{
			background: url('/images/main/flex-div-module/event-1.jpg') no-repeat;
		}

		.image-event-2{
			background: url('/images/main/flex-div-module/event-2.jpg') no-repeat;
		}

		.image-event-3{
			background: url('/images/main/flex-div-module/event-3.jpg') no-repeat;
		}

		.image-event-4{
			background: url('/images/main/flex-div-module/event-4.jpg') no-repeat;
		}

	}

	
	
}