@import "../../../utils/scss/foundation/_settings.scss";

p, div, span{
	font-family: 'camptonlight' !important;
}

h1, h2, h3, h4, h5, h6, nav *{
	font-family: 'camptonbold' !important;
}

.row{
	max-width: 80rem;
}

.row .row{
	margin-left: 0;
	margin-right: 0;
}

.purple{
	color: $purple;
}

.strong, .bold{
	font-weight: bold;
}

[data-module-header]{
	nav a{
		font-size: 14px !important;
		@media #{$medium-only}{
			font-size: 15px !important;
		}
		@media #{$large-up}{
			font-size: 16px !important;
		}
	}
}

[data-module-body]{

	p, a{
		font-size: 13px;
		@media #{$medium-only}{
			font-size: 14px;
		}
		@media #{$large-up}{
			font-size: 15px;
		}

	}

	h3{
		
		font-size: 20px;
		line-height: 20px;

		@media #{$medium-only}{
				font-size: 22px;
				line-height: 22px;
			}

		@media #{$large-up}{
			font-size: 24px;
			line-height: 24px;
		}
	}


}