@import "../../../utils/scss/foundation/_settings.scss";

p, div, span, h1, h2, h3, h4, h5, h6{
	font-family: 'camptonlight' !important;
}

nav *{
	font-family: 'campton_bookbold' !important;
}

.row{
	max-width: 80rem;
}

.row .row{
	margin-left: 0;
	margin-right: 0;
}

.purple{
	color: $purple;
}

.strong, .bold{
	font-weight: bold;
}

[data-module-body]{
	>div{
		margin-left: 5px;
		margin-right: 5px;
		@media #{$medium-only}{
			margin-left: 10px;
			margin-right: 10px;
		}
		@media #{$large-up}{
			margin-left: 10px;
			margin-right: 10px;
		}

	}
}

[data-module-header]{
	nav a{
		font-size: 14px !important;
		@media #{$medium-only}{
			font-size: 14px !important;
		}
		@media #{$large-up}{
			font-size: 19px !important;
		}
	}
}

[data-module-body]{

	p, a{
		font-size: 15px;
		@media #{$medium-only}{
			font-size: 16px;
		}
		@media #{$large-up}{
			font-size: 17px;
		}

	}

	h3{
		
		font-size: 20px;
		line-height: 20px;

		@media #{$medium-only}{
				font-size: 22px;
				line-height: 22px;
			}

		@media #{$large-up}{
			font-size: 24px;
			line-height: 24px;
		}
	}


}